

  <div class="" style="height: 300px;" >
    <video autoplay class="video"   >
      <source src="assets/netflixvideo.mp4" type="video/mp4">
      <source src="assets/netflixvideo.mp4" type="video/ogg">
      Your browser does not support the video tag.
    </video>
    <div id="overlay">
      <div></div>
      <h5 style="margin-bottom: -0.3rem;">NETFLIX ORIGINAL</h5>
      <h1 style="font-size: 56px;">EXTRACTION</h1>
      <div class="con">

        <p class="text-success">97% Match</p>
        <button class="btn1">4k Ultra HD</button>
        <button class="btn2">5.1</button>
        <button class="btn3">HD</button>
      </div>
      <pre>Armando Aliien is a designer and your
playing attention</pre>
    </div>
  </div>
  



  <div class="imagecontainer" >
    <h6 class=" heading"> Tv Comedies</h6>
    <img class="images" src="assets/nt3.jpg" >
    
    <img class="images" src="assets/nt8.jpg" >
    <img class="images" src="assets/nt5.jpg" >
    <img class="images" src="assets/nt7.jpg"style="height: 103px;" >
    <img class="images" src="assets/nt5.jpg" >
 
  </div>
  
  <div class="imagecontainer">
    <h6 class="mb-0"> Popular netflix</h6>
    <img class="images" src="assets/nt3.jpg" >
    <img class="images" src="assets/nt5.jpg" >
    <img class="images" src="assets/nt8.jpg" >
    <img class="images" src="assets/nt7.jpg"style="height: 103px;" >
    <img class="images" src="assets/nt5.jpg" >
  
  </div>
  

  <div class="imagecontainer">
    <h6 class="mb-0"> Popular netflix</h6>
    <img class="images" src="assets/nt5.jpg" >
    <img class="images" src="assets/nt3.jpg" >
    <img class="images" src="assets/nt8.jpg" >
    <img class="images" src="assets/nt7.jpg"style="height: 103px;" >
    <img class="images" src="assets/nt5.jpg" >
  
  </div>
